.tabla{border:solid 1px red;
    border-radius: 5px;
text-align:center;
margin: 3px;
/*padding: 3px;*/
background-color: aquamarine;
box-shadow: 5px 5px 5px 5px gray}

.fila{border: solid 1px red;
text-align:center;
background-color:sandybrown}
.titu{text-align:center;
background-color:rgb(172, 126, 71);
border: solid 1px red;
font-style:italic;
font-weight: bold}
.redon3{border-radius: 0px 0px 5px 5px}
.redon1{border-radius: 5px 0px 0px 0px}
.redon2{border-radius: 0px 5px 0px 0px}